@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-main-BG: hsl(217, 54%, 11%);
  --dark-blue-card-BG: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --outfit: 'Outfit', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h2 {
  font-size: 1.7rem;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue-main-BG);
  font-family: var(--outfit);

}
.container {
  max-width: 33.5rem;
  background-color: var(--dark-blue-card-BG);
  margin: 3rem 2rem;
  border-radius: 20px;
  overflow: hidden;
}
.container-wrapper {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  overflow: hidden;
}
.image-box {
  position: relative;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}
.main-img {
  width: 100%;
  display: block;
  margin: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--cyan);
}
.view-img {
  position: absolute;
  width: 16%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* Hover */
.image-box:hover .overlay {
  opacity: 0.5;
}
.image-box:hover .view-img {
  display: block;
}
h1:hover {
  color: var(--cyan);
}
.footer a:hover {
  color: var(--cyan);
}
h1 { 
  color: var(--white);
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  transition: 0.5s ease;
}
span {
  cursor: pointer;
}  
p {
  color: var(--soft-blue);
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  line-height: 1.5;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}
.price-box, .days-box {
  display: flex;
  align-items: center;
}
.price-box img {
  width: 11%;
  margin-right: 0.7rem;
}
.price-box h2 {
  color: var(--cyan);
  font-weight: 600;
}
.days-box img {
  width: 16%;
  margin-right: 0.7rem;
}
.days-box h2 {
  color: var(--soft-blue);
  font-weight: 400;
}
hr {
  background-color: var(--dark-blue-line);
  height: 0.1rem;
  border: none;
}
.footer {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;
}
.footer img {
  display: block;
  border-radius: 2.5rem;
  background-color: var(--white);
  border: 0.1rem solid var(--white);
  width: 11%;
  margin-right: 1.6rem;
}
.footer h6 {
  font-size: 1.6rem;
  color: var(--soft-blue);
  font-weight: 400;
}
.footer a {
  color: var(--white);
  text-decoration: none;
  transition: 0.5s ease;
}
